@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

body {
  background: rgb(195, 197, 255);
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
}


#containerMain {
  margin: auto;
  border-radius: 4px;
  background: rgb(242, 242, 242);
  color: rgb(255, 255, 255);
  box-shadow: rgba(80, 80, 80, 0.433) 2px 6px 16px;
  max-width: 1000px;
  width: 100%;
}
/* SearchBar*/
#searchBar {
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  margin: 2rem;
  border-radius: 8px;
  height: 80px;
}
input[type=text] {
  min-width: 400px; 
  height: 35px;
  border: none;
  background: transparent;
  opacity: 0.8;
}
input[type=text]:focus{
  outline: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
::placeholder {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  opacity: 0.9;
}


/* containerWeather*/
#containerWeather {
  padding: 2rem;

  .todaysDesc {
    display: flex;
   
    align-items: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
  }
  .desc {
    display: flex;
  }

  .img-icon {
    width: 4rem;
    height: 4rem;
  }

  .temp {
    font-size: 120px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: auto;
  }
    #sup {
      font-size: 65px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

  .cityName {
    font-size: 34px;
    font-weight: 300;
  }
}


.sunriseSunset {
  display: flex;
  gap: 38px;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 78px;
}


.img-icon {
  width: 50px;
  height: 50px;

}


/* containerForecast */
.forecast-content {
  background-color: rgb(242, 242, 242);
  color: rgba(112, 112, 112, 1);
  padding: 2rem;
  font-size: 20px;
  font-weight: 400;
}

.forecast-item {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-around;
  /* Add some spacing between forecast items */
}

.largeIcon {
  max-width: 200px;
  width: 100%;
  float: right;
}

.coldColor {
  background: linear-gradient(rgba(133, 137, 255,1 ), rgb(193, 194, 246));
  border-bottom-left-radius: 250px 100px;
  border-bottom-right-radius: 250px 100px;
   
}
.mediumColor {
  background: linear-gradient(rgba(133, 137, 255, 1), rgb(238, 206, 163));
  border-bottom-left-radius: 250px 100px;
  border-bottom-right-radius: 250px 100px;
}
.hotColor {
  background: linear-gradient(rgb(255, 206, 133), rgb(238, 88, 13));
  border-bottom-left-radius: 250px 100px;
  border-bottom-right-radius: 250px 100px;
}
  


/* Media queries */

 /* For tablets and larger screens */
@media (min-width: 768px) {
  #containerTop {
    flex-direction: column;
    justify-content: center;
  }
  #searchBar {
    margin: 2rem;
  }
}

/* For desktop screens */
@media (min-width: 1024px) {
  #containerMain {
    max-width: 1024px;
    width: 100%;
  }
  #containerTop {
    justify-content: space-between;
  }
  #searchBar {
    margin: 2rem;
  }
  #containerWeather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}